body {
  font-family: Arial, sans-serif; /* Tipografía legible */
  background-image: url('imagenes/fondos.jpg'); /* Pon aquí el nombre o ruta de tu imagen */
  background-size: cover; /* Hace que la imagen cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  color: #000000; /* Color texto */
  margin: 0;
  padding: 20px;
}

section h2 {
  color: #b9200c;
  margin-bottom: 15px;
}

/* ===== Listas de proyectos ===== */
section ul {
  padding-left: 20px;     /* ===== que los poryectos 1,2,3 se peguen mas a la margen ===== */
}

section ul li {
  margin-bottom: 10px;   /* ===== espacio entre proyecto 1,2,3 ===== */
}

/* ===== Formulario ===== */
form input, form button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #ccc;
}

form button {
  background-color: #007acc;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
  transition: background-color 0.3s;
}

a {
  color: #007acc;
  text-decoration: none;   /* ===== para que los links esten en azulito ===== */
  font-weight: bold;
}

a:hover {
  color: #005fa3;
  text-decoration: underline;
  cursor: pointer;
}