/* ===== General ===== */
body {
  background: #041a6f9e;
  font-family: 'Orbitron', sans-serif;
  color: #000;
  margin: 0;
  padding: 20px;
  text-align: center;
}

/* ===== Header y navegación ===== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #0b308e5b;
  color: white;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
  margin: 0;
  padding: 0;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* ===== Secciones y títulos ===== */
section h2 { color: #e1280f; margin-bottom: 15px; }

/* ===== Proyectos Grid ===== */
#proyectos ul {
  display: grid;     /* ===== Convierte un contenedor en un sistema de cuadrícula. ===== */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));    /* ===== Define cuántas columnas tendrá la cuadrícula. ===== */
  gap: 20px;         /* ===== Define el espacio entre filas y columnas. ===== */
  padding: 0;
  list-style: none;
}

#proyectos ul li {
  background: #0b308e5b;
  padding: 15px;
  border-radius: 6px;
  transition:
   transform 0.3s;
}
#proyectos ul li:hover { 
  transform: scale(1.05); 
}


#proyectos ul li a {
   color: #f4f4f4; font-weight: bold; text-decoration: none; 
}


/* ===== Formulario ===== */
form input, form button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}/* =====  ===== */

form button {
  background: #007acc;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
}

form button:hover { background: #005f99; }

/* ===== Enlaces generales ===== */
a { color: #fff; text-shadow: 0 0 10px #00eaff; text-decoration: none; }
a:hover { color: #00eaff; text-decoration: underline; }

/* ===== Galería de mascotas con Flexbox ===== */
.galeria {
  display: flex;
  flex-wrap: wrap;   /* ===== se adapta al tamaño de la pantalla ===== */
  gap: 20px;
  justify-content: center; /* ===== Controla cómo se distribuyen horizontalmente los elementos. ===== */
  padding: 20px;
}

.galeria article {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  width: 220px;
  text-align: center;
  transition: transform 0.3s;
}

.galeria article:hover {
  transform: scale(1.06);
}

.galeria img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
